body {
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: $color-secondary;
    position: relative;
}

.navigation {

    &-name {
        font-size: 4rem;
        color: $color-primary;
    }

    &-title {
        font-size: 2rem;
    }

    &__item {
        list-style: none;
        font-size: 2.5rem;

        @include mquery(phone) {
            font-size: 9vw;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-secondary;
        }

        &:hover,
        &:active {
            color: $color-secondary-hover;
        }
    }
}

.header {
    &__content {
        color: $color-white;
    }

    &__heading {
        font-size: 5rem;
        margin: 1rem;
    }

    &__paragraph {
        font-size: 2.5rem;
    }

    .skills {
        color: $color-secondary;

        &__heading {
            font-size: 3.5rem;
        }

        &__leanguages {
            font-size: 2.5rem;
        }

        &__leanguages-items {
            font-size: 2rem;
        }

        &__leanguages-tools {
            font-size: 2.5rem;
        }

        &__leanguages-tools-items {
            font-size: 2rem;
        }
    }

    .scroll {

        color: $color-secondary;

        &-text {
            font-size: 1.1rem;
        }

        &-btn {

        }
    }
}

.section-projects {
    
    &__heading {
        color: $color-primary;
        font-size: 5.5rem;

        @include mquery(phone) {
            font-size: 4rem;
        }
    }

    &__sub {
        color: $color-primary;
        font-size: 3rem;
        transform: translateY(-0.8rem);

        @include mquery(phone) {
            font-size: 2rem;
        }
    }

    .projects__container {

        .projects-info {

            .projects-name {
                font-size: 4rem;

                @include mquery(tab-port) {
                    font-size: 5vw;
                }
            }

            .projects-sub {
                font-size: 2.5rem;

                @include mquery(tab-port) {
                    font-size: 3.5vw !important;
                }
            }

            .projects-build-with {
                font-size: 3rem;

                @include mquery(tab-port) {
                    font-size: 4.5vw;
                }
            }

            .projects-build-info {
                font-size: 2.5rem;

                @include mquery(tab-port) {
                    font-size: 3.5vw !important;
                }
            }

            .projects-buttons {

                .btn {

                    @include mquery(tab-port) {
                        font-size: 3.5vw !important;
                    }
                }
            }
        }

    }

}

.section-contact {

    .contact-heading {
        color: $color-white;
        font-size: 5.5rem;

        @include mquery(phone) {
            font-size: 4.5rem;
        }
    }

    .contact-name, .contact-email, .contact-message {
        font-size: 2rem;

        background-color: transparent;
        border: $color-white 2px solid;
        color: $color-white;

        &::-webkit-input-placeholder {
            color: $color-white;
        }

        &::placeholder {
            color: $color-white;
        }

        &:focus {
            outline: none;
        }
    }

    .contact-message::-webkit-input-placeholder {
        align-items: flex-end;
    }

    .contact-submit {
        background-color: transparent;
        cursor: pointer;
        //text-transform: uppercase;
        //font-size: 2rem;
    }

    .copyright {
        color: $color-white;
        font-size: 2rem;
    }
}